<h2 class='title'>Mot de passe oublié</h2>

<<form class='login_form'>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Réinitialiser", class:'button submit_btn' %>
  </div>
  <div class='coucou'>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
</form>
